h1 {
  font-weight: bold;
  color: #2c7755;
  font-size: 30px;
  margin-bottom: 0;
  padding-bottom: 0;
}

h2 {
  font-size: 18px;
}

.ant-layout-header {
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0px 4px 14px 0px rgba(0,0,0,0.58);
}

.not-mobile {
  @media only screen and (max-width: 500px) {
    display: none;
  }
}

.mobile {
  @media only screen and (min-width: 501px) {
    display: none;
  }
}

.not-tablet {
  @media only screen and (max-width: 900px) {
    display: none;
  }
}

.tablet {
  @media only screen and (min-width: 901px) {
    display: none;
  }
}

